{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[1080px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#101418] tracking-light text-[32px] font-bold leading-tight min-w-72">Bling</p></div>
        <div class="@container">
            <div class="@[9500px]:px-4 @[480px]:py-3">
            <div
                class="w-full bg-center bg-no-repeat bg-cover flex flex-col justify-end overflow-hidden bg-gray-50 @[480px]:rounded-xl min-h-[218px]"
                style='background-image: url("{% static "integrator/images/integrator.png" %}");'
            ></div>
            </div>
        </div>
            <form method="post" action="{% url "bling_credentials" %}">
                {% csrf_token %}
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#101418] text-base font-medium leading-normal pb-2">Client ID</p>
                    <input
                        name="client_id"
                        placeholder="Enter your Client ID"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101418] focus:outline-0 focus:ring-0 border border-[#d4dbe2] bg-gray-50 focus:border-[#d4dbe2] h-14 placeholder:text-[#5c718a] p-[15px] text-base font-normal leading-normal"
                        value=""
                    />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#101418] text-base font-medium leading-normal pb-2">Client Secret</p>
                    <input
                        name="client_secret"
                        placeholder="Enter your Client Secret"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101418] focus:outline-0 focus:ring-0 border border-[#d4dbe2] bg-gray-50 focus:border-[#d4dbe2] h-14 placeholder:text-[#5c718a] p-[15px] text-base font-normal leading-normal"
                        value=""
                    />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#101418] text-base font-medium leading-normal pb-2">Deposit ID</p>
                    <input
                        name="deposit_id"
                        placeholder="Enter your Client Secret"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101418] focus:outline-0 focus:ring-0 border border-[#d4dbe2] bg-gray-50 focus:border-[#d4dbe2] h-14 placeholder:text-[#5c718a] p-[15px] text-base font-normal leading-normal"
                        value=""
                    />
                    </label>
                </div>
                <div class="flex px-4 py-3 justify-end">
                    <button
                    type="submit"
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#3f7bbf] text-gray-50 text-sm font-bold leading-normal tracking-[0.015em]"
                    >
                    <span class="truncate">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}