<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf3] px-10 py-3">
  <div class="flex items-center gap-4 text-[#0e141b]">
    <div class="size-4">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
    <h2 class="text-[#0e141b] text-lg font-bold leading-tight tracking-[-0.015em]">LocaLivros</h2>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      {% if user.is_authenticated %}
        <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'book_search' %} ">Home</a>
        {% if has_credential %}
          <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'update_credential' bling_credential.id %} ">Edit Credentials</a>
        {% else %}
          <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'bling_credentials' %} ">Credentials</a>
        {% endif %}
          <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'books' %} ">Books</a>
          <form method="post" action="{% url 'logout' %}" class="flex items-center m-0">
            {% csrf_token %}
            <button type="submit" class="text-[#0e141b] text-sm font-medium leading-normal bg-transparent border-none p-0 m-0">
              Logout
            </button>
          </form>
      {% else %}
        <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'login' %} ">Sign In</a>
        <a class="text-[#0e141b] text-sm font-medium leading-normal" href=" {% url 'register' %} ">Sign Up</a>
      {% endif %}
    </div>
  </div>
</header>